#root {
    height: 100vh;
    background-image: url("../img/background_pattern.png");
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11pt;
}

.owned-requests {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: 88.5vh;
}


.owned-requests-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 20px;
}

.MuiPaper-root::-webkit-scrollbar {
    display: none;
}

.owned-requests-container::-webkit-scrollbar {
    display: none;
}

.page-message {
    align-self: center;
    margin-top: 20px;
    font-size: 12pt;
}

.request-info-container p {
    align-self: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
}

.MuiPaper-root {
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* align-items: center; */
}

.MuiCardHeader-root {
    padding: 10px !important;
    padding-bottom: 0 !important;
    padding-left: 16px !important;
}

.MuiCardHeader-avatar {
    align-self: flex-start;
    margin-right: 0 !important;
}

.MuiAvatar-root {
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif !important;
}

.MuiCardHeader-content {
    display: flex;
    justify-content: center;
    /* margin-left: 30px !important; */
}

.MuiCardHeader-title {
    margin-bottom: 0 !important;
    position: relative;
    left: -20px;
}

.MuiCardActions-root {
    width: 100% !important;
}

.MuiCardActions-root button {
    box-shadow: none !important;
}

.MuiCardContent-root {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.owned-requests br {
    display: block;
    content: "";
    margin-top: -3px;
}

.MuiTypography-paragraph {
    color: rgba(0, 0, 0, 0.7);
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 10.5pt !important;
}

.MuiCollapse-root .MuiTypography-root:last-of-type {
    margin-bottom: 20px !important;
}

.update-request-button {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px !important;
    border: none;
    color: white;
    background-color: var(--lunikoBlue);
    border-radius: 5px;
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 14pt;
    height: 50px;
    width: 100%;
    font-size: 13pt !important;
}