#root {
    height: 100vh;
    background-image: url("../img/background_pattern.png");
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11pt;
}

.submitted-requests {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: 88.5vh;
}


.submitted-requests-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 20px;
}

.MuiPaper-root::-webkit-scrollbar {
    display: none;
}

.submitted-requests::-webkit-scrollbar {
    display: none;
}

.request-info-container {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    background-color: var(--lunikoMidGrey);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    /* outline: 1px dashed var(--lunikoOrange); */
    /* outline-offset: -4px; */
    border-radius: 20px;
    width: 95%;
    max-width: 350px;
    box-shadow: 2px 2px 6px rgba(43, 43, 43, 0.884);
    align-self: center;
    transition: 0.2s;
}

.request-info-container:hover {
    background-color: var(--lunikoOrange);
    cursor: pointer;
}

.page-message {
    align-self: center;
    margin-top: 20px;
    font-size: 12pt;
}

.request-info-container p {
    align-self: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    box-shadow: none;
}

.MuiPaper-root {
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* align-items: center; */
}

.MuiCardHeader-root {
    padding: 10px !important;
    padding-bottom: 0 !important;
    padding-left: 16px !important;
}

.MuiCardHeader-avatar {
    align-self: flex-start;
    margin-right: 0 !important;
}

.MuiAvatar-root {
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif !important;
}

.MuiCardHeader-content {
    display: flex;
    justify-content: center;
    /* margin-left: 30px !important; */

}

.MuiCardHeader-title {
    margin-bottom: 0 !important;
    position: relative;
    left: -20px;
}

.MuiCardActions-root {
    width: 100% !important;
}

.MuiCardContent-root {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.submitted-requests br {
    display: block;
    content: "";
    margin-top: -3px;
}

.MuiTypography-paragraph {
    color: rgba(0, 0, 0, 0.7);
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 10.5pt !important;
}

.MuiCollapse-root .MuiTypography-root:last-of-type {
    margin-bottom: 20px !important;
}