.update-owned-request {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    height: 88.5vh;
}

.update-owned-request-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 20px;
}

.update-owned-request-card textarea {
    width: 100%;
    font-size: 10.5pt;
    box-shadow: none;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.7);

}

.update-owned-request-container::-webkit-scrollbar {
    display: none;
}

.update-request-button {
    font-size: 13pt !important;
    margin-top: 10px;
}

.material-text-field {
    width: 100%;
}